@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Signika Negative', sans-serif;
}
#root {
  width: 100vw;
  min-height: 100vh;
}
.root {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.root-light {
  background: #f0f0f0;
}
.stop_cont {
  width: 80%;
  height: auto;
  background: #061426;
  border-radius: 5px;
  padding: 15px;
}
.stop_cont .screen, .stop_cont .btn_cont {
  width: 95%;
  height: auto;
  background: #010407;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.stop_cont .list_time {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.stop_cont .list_time span {
  font-size: 11px;
  padding: 5px;
  margin: 0 9px;
  color: #ced7de;
}
.stop_cont .sec, .stop_cont .min, .stop_cont .hr, .stop_cont .ms {
  color: #ced7de;
  padding: 5px;
  font-size: 33px;
  font-weight: bolder;
}
.stop_cont .btn_cont {
  background: transparent;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  padding: 10px;
}
.stop_cont .btn_cont button {
  width: 75%;
  margin: 0 5px;
  font-weight: bolder;
  color: #dde3e8;
  background: #081b33;
  transition: 0.15s;
  border-radius: 3px;
  border: none;
  outline: none;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.stop_cont .btn_cont button:active {
  scale: 0.95;
  opacity: 0.5;
}
.stop_cont .btn_cont button i {
  margin-right: 3px;
}
.stop_cont .btn_cont .start {
  background: linear-gradient(to bottom left, #3e5214, yellowgreen);
}
.stop_cont .btn_cont .stop {
  background: linear-gradient(to top left, #600, red);
}
.stop_cont .btn_cont .reset {
  background: linear-gradient(to bottom left, #660, orange);
}
.stop_cont .lap {
  background: linear-gradient(to top left, #004384, dodgerblue);
  width: 60%;
  margin: 0 5px;
  font-weight: bolder;
  color: #dde3e8;
  transition: 0.15s;
  border-radius: 3px;
  border: none;
  outline: none;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.stop_cont .lap:active {
  scale: 0.95;
  opacity: 0.5;
}
.stop_cont .lap i {
  margin-right: 4px;
}
.lap_cont, .title_cont {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.title_cont {
  padding: 5px;
  position: relative;
}
.title_cont h3 {
  color: #ced7de;
  letter-spacing: 2px;
}
.title_cont h3 i {
  margin-right: 4px;
}
.title_cont .modes_cont {
  position: absolute;
  top: -2px;
  right: 0;
  padding: 6px 10px;
  background: #0b2749;
  border-radius: 10px;
  transition: 0.2s;
}
.title_cont .modes_cont i {
  color: #ced7de;
  font-size: 22px;
}
.title_cont .modes_cont:active {
  scale: 0.95;
  opacity: 0.6;
}
.lap_list {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.lap_list .lap_list_title {
  width: 100%;
  height: auto;
  margin-top: -5px;
  padding: 10px;
}
.lap_list .lap_list_title h4 {
  color: #ced7de;
  font-weight: 400;
  font-size: 16px;
}
.lap_list .lap_items_cont {
  width: 100%;
  max-height: 150px;
  overflow-x: hidden;
  padding: 5px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  transition: 0.2s;
}
.lap_list .lap_items_cont .lap_item {
  width: 100%;
  height: auto;
  padding: 10px;
  margin: 4px 0;
  list-style-type: none;
  border-radius: 10px;
  background: #010407;
  color: #ced7de;
  font-size: 18px;
  animation: pop 0.4s ease-in-out;
}
@keyframes pop {
  0% {
    opacity: 0.5;
    scale: 0.5;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
.lap_list .lap_items_cont .lap_items_cont::-webkit-scrollbar {
  width: 10px;
}
.lap_list .lap_items_cont .lap_items_cont::-webkit-scrollbar-thumb {
  background: #081b33;
}
.lap_list .lap_items_cont .lap_items_cont::-webkit-scrollbar-track {
  background: #1d61b7;
}
@media screen and (min-width: 768px) {
  .stop_cont {
    width: 50%;
  }
  .lap_item {
    font-size: 23px;
  }
  .title_cont {
    font-size: 22px;
  }
  .view {
    width: 50%;
  }
  .lap_list {
    padding: 12px;
  }
}
@media screen and (max-width: 375px) {
  .stop_cont {
    width: 95%;
  }
}
